<header>
  <h1>Cadastro de Categorias</h1>
  <p>Cadastre categorias para os itens</p>
</header>

<% if @item_category.errors.any? %>
  <p>Verifique os erros abaixo: </p>
  <ul>
    <% @item_category.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @item_category) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>

<h3>Categorias Cadastradas</h3>
<% if @item_categories.empty? %>
  <p>Nâo existem categorias cadastradas</p>
<% else %>
  <ul>
    <% @item_categories.each do |item| %>
      <li><%= item.name %> - <%= link_to 'Editar', edit_item_category_path(item.id) %></li>
    <% end %>
  </ul>
<% end %>
