<div id="<%= dom_id bid %>">
  <h4>Lance #<%= bid.batch.bids.index(bid) + 1 %></h3>
  <dl>
    <dt>Valor: </dt>
    <dd><%= bid.amount %></dd>
    <dt>Autor: </dt>
    <dd><%= bid.user.name %></dd>
    <dt>Dia e horário: </dt>
    <dd><%= l(bid.updated_at.in_time_zone("Brasilia"), format: :bids_format) %></dd>
  </dl>
</div>