<%= turbo_frame_tag "new_answer_#{@doubt.id}", target: "_top" do %>
  <%= form_with(model: [@doubt.batch, @doubt, @answer],
                data: {controller: 'utilities', action: "turbo:submit-end->utilities#reset"}) do |f| %>
    <div>
      <%= f.label :content, 'Resposta' %>
      <%= f.text_area :content %>
    </div>
      <%= f.hidden_field :doubt_id, value: @answer.doubt.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= f.submit 'Enviar', data: { turbo_frame: "_top" }%>
    </div>
  <% end %>
<% end %>