<h1>Itens Cadastrados</h1>

<section>
  <% if !@items.empty? %>
    <% @items.each do |item| %>
      <ul>
        <li><%= image_tag item.image %></li>
        <li><%= Item.human_attribute_name(:name) %>: <%= item.name %></li>
        <li><%= Item.human_attribute_name(:registration_code) %>: <%= item.registration_code %></li>
        <li><%= Item.human_attribute_name(:description) %>: <%= item.description %></li>
        <li><%= Item.human_attribute_name(:weight) %>: <%= item.weight %>g</li>
        <li><%= Item.human_attribute_name(:dimensions) %>: <%= item.dimensions %></li>
        <%= button_to 'Excluir Item', item_path(item.id), method: :delete %>
        <%= button_to 'Editar', edit_item_path(item.id), method: :get %>
      </ul>
    <% end %>
  <% else %>
   <p>Não existem itens cadastrados</p>
  <% end %>
</section>