<h1>Lotes Cadastrados</h1>
<section>
  <% if @batches.present? %>
    <ul>
      <% @batches.each do |batch| %>
        <li>
          <div>
            <ul>
              <li>
                <%= link_to batch.code, show_admin_batch_path(batch.id) %>
              </li>
              <% unless batch.approved_by %>
                <li><%= t('status.label') %>: <%= t('status.waiting_approve') %></li>
              <% else %>
                <li><%= t('status.label') %>: <%= t('status.approved') %></li>
              <% end %>
              <li><%= Batch.human_attribute_name(:start_date) %>: <%= l(batch.start_date) %></li>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('no_batches_registered') %></p>
  <% end %>
</section>