<%= turbo_stream_from 'batch_admin' %>


<h1>Lote <%= @batch.code %></h1>
<% if @batch.approved_by %>
    <p>Status: Aprovado</p>
  <% else %>
    <p>Status: Aguardando aprovação</p>
<% end %>
<% if current_user %>
  <% if current_user.admin %>
    <p>Status final: <%= t("activerecord.enums.batch.end_status.#{@batch.end_status}") %></p>
  <% end %>
   <% if @favorited %>
    <div id="toggle_favorite_button_<%="#{@batch.id}"%>">
      <%= button_to 'Desfavoritar', user_favorited_batches_delete_favorited_path(@favorited_batch.id), method: :delete%>
    </div>
  <% else %>
    <div id="toggle_favorite_button_<%="#{@batch.id}"%>">
      <%= button_to 'Favoritar', create_user_favorite_batch_path(user_id: current_user.id, batch_id: @batch.id), method: :post%>
    </div>
  <% end %>
<% end %>


<h3>Itens no lote</h3>
<% if @batch_items.present? %>
  <ul id="batch_items">
    <%= render @batch.batch_items %>
  </ul>
<% else %>
  <p>Nâo existem itens no lote</p>
<% end %>
<ul>
  <li><%= Batch.human_attribute_name(:start_date) %>: <%= l(@batch.start_date) %></li>
  <li><%= Batch.human_attribute_name(:end_date) %>: <%= l(@batch.end_date) %></li>
  <li><%= Batch.human_attribute_name(:minimum_bid) %>: <%= @batch.minimum_bid %></li>
  <li><%= Batch.human_attribute_name(:minimum_bid_difference) %>: <%= @batch.minimum_bid_difference %></li>
</ul>

<h3>Dúvidas</h3>
<ul id='doubts'>
  <%= render partial: 'doubts/doubt_adm', collection: @batch.doubts, as: :doubt %>
  <% if @batch.doubts.empty? %>
    <p id='no_doubts'>Ainda não existem dúvidas nesse lote</p>
  <% end %>
</ul>

<% if current_user %>
  <% if @batch.approved_by %>
    <% if Date.today < @batch.end_date || current_user.admin %>
      <%= turbo_frame_tag "new_doubt", src: new_batch_doubt_path(@batch), target: "_top"%>
      <div id="error-messages-doubt"></div>
    <% elsif Date.today >= @batch.end_date && @batch.bids.present? && @batch.bids.find_by(amount: @batch.bids.maximum(:amount)).user_id == current_user.id %>
      <%= turbo_frame_tag "new_doubt", src: new_batch_doubt_path(@batch), target: "_top"%>
      <div id="error-messages-doubt"></div>
    <% else %>
      <p>Você não pode enviar mais dúvidas pois o leilão já acabou</p>
    <% end %>
  <% end %>
<% else %>
  <p><%= link_to 'Faça login', new_user_session_path(redirect_to: request.original_url)%> para enviar uma dúvida</p>
<% end %>

<% if @batch.approved_by %>
  <% if @batch.start_date <= Date.today %>
    <% if @batch.end_date > Date.today %> 
      <h3>Lances </h3>
      <ul id="bids">
        <%= render @batch.bids %>
        <% if @batch.bids.empty? %>
          <p id='no_bids'>Ainda não existem lances nesse lote</p>
        <% end %>
      </ul>
      <% if current_user%>
        <h3>Realizar um lance</h3>
        <div id="message-bid"></div>
        <%= turbo_frame_tag "new_bid", src: new_batch_bid_path(@batch), target: "_top"%>
      <% else %>
        <p><%= link_to 'Faça login', new_user_session_path(redirect_to: request.original_url)%> para realizar um lance</p>
      <% end %>
    <% else %>
      <h3>Lances </h3>
      <% if current_user && current_user.admin %>
        <ul id="bids">
          <%= render @batch.bids %>
          <% if @batch.bids.empty? %>
            <p id='no_bids'>Ainda não existem lances nesse lote</p>
          <% end %>
        </ul>
      <% end %>
      <p>O leilão já terminou</p>
      <% if @batch.bids.present? %>
        <% if current_user && @batch.bids.find_by(amount: @batch.bids.maximum(:amount)).user_id == current_user.id %>
          <p>Você foi o vencedor do leilão</p>
        <% else %>
          <p>Você não foi o ganhador</p>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p>O leilão ainda não iniciou</p>
  <% end %>
<% end %>

<button onclick="window.history.back()">Voltar</button>
<% if @batch.approved_by.nil? %>
  <%= render 'batch_items/new' %>
  <%= render 'batch_items/destroy' %>
  <%= button_to 'Aprovar Lote', approve_batch_path(batch_id: @batch.id, user_id: current_user.id), method: :patch %>
<% end %>

<% if @batch.end_date <= Date.today && @batch.pending? && current_user %>
  <% if current_user.admin %>
    <% if @batch.bids.empty? %>
      <p>O lote não recebeu nenhum lance, deseja cancelar?</p>
      <%= button_to 'Cancelar lote', cancel_batch_path(@batch.id), method: :patch %>
    <% else %>
      <p>O lote recebeu pelo menos um lance, deseja concluir?</p>
      <%= button_to 'Concluir leilão', close_batch_path(@batch.id), method: :patch %>
    <% end %>
  <% end %>
<% end %>